html {

    background-image: url("../imgs/backgroundImg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

body {

    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "header header header"
        "section main main"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

h1, h2, h3, h4, h5, h6 {

    font-family: "Bungee",sans-serif;
}

p, li, a, td, figcaption, blockquote {

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

header {

    grid-area: header;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 125px;
    align-items: center;
    background-color: #696969;
    border-bottom: 5px solid lightgray;
	border-left: 5px solid lightgray;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;
}

header > div {

    height: 115px;
    width: auto;
}

header > div > a > h1 {

    color: black;
}

header > nav > menu {

	display: grid;
	list-style: none;
    padding-left: 0px;
    margin: 0px;
}

header > nav > menu > li > a {

	color: #0e0e0e;
}

section {
    grid-template-areas: aside;
    display: grid;
    grid-template-columns: 100%;
    background-color: #151B54;
    border-bottom: 5px solid lightgray;
	border-left: 5px solid lightgray;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

main {

	grid-area: main;
	grid-template-columns: 100%;
	height: 95vh;
	background-color: #f8f8f8;
    padding: 2px;
}

footer {

	grid-area: footer;
	background-color: #696969;
	height: 15vh;
	width: auto;
    border-bottom: 5px solid lightgray;
	border-left: 5px solid lightgray;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

footer > div {

	padding-top: 10px;
}

header, section, main, footer {

    padding: 2rem;
}