html {

	background-image: url("../imgs/backgroundImg.jpg");
	background-attachment: fixed;
	background-size: cover;
}

body {

	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
		"header header header"
		"section main main"
		"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

h1 ,h2, h3, h4, h5, h6 {
	
	font-family: "Bungee", sans-serif;
}

p, li, a, td, figcaption, blockquote {

	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-decoration: none;
}
header {

	grid-area: header;
	display: grid;
	grid-template-columns: 60% 40%;
	height: 125px;
	align-items: center;
	background-color: #696969;
	background: linear-gradient(silver, black);
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

header > div > a > h1{
	color: black;
	text-shadow: 3px 2px white;
}

section > h2, section p {
	color: white;
}

header > nav > ul {

	display: grid;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

header > nav > ul > li > a {

	color: #0e0e0e;
}


section {

	grid-area: section;
	background-color: #151B54;
	background-image: url("../imgs/tao.png");
	background-position: 
		bottom 0  left 20%;
	background-size: 
		30vh;
	background-repeat: 
		no-repeat;
	border-radius: 3px;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

main {

	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 60vh;
	background-color: #f8f8f8;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;
}

#image {

    border: 10px solid black;
	border-radius: 5px;
	height: 50vh;
	width:auto;
}

footer {

	grid-area: footer;
	display: flex;
	align-items: center;
	background-color: #696969;
	background: linear-gradient(silver, black);
	height: 150px;
	width: auto;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;
}

footer h2 {

	margin-top: 0px;
}

footer > div {

	padding-top: 10px;
}

header, section, main, footer {

	padding: 2rem;
}

textarea {

	height: 80px;
	width: 200px;
	border-radius: 5px;
}

input {
	color: white;
	height: 30px;
	width: auto;
	background-color: blue;
	border-radius: 5px;
}

#toggle-menu, label[for="toggle-menu"] {
	display: none;
}


@media only screen and (max-width:600px) and (orientation: portrait) {

	body {
		display: flex;
		flex-direction: column;
		width: 80%;
	}
	header {

		display: flex;
		justify-content: space-between;
	}

	header nav ul {
		opacity: 0.95;
		background-color: #d3d3d3;
		border: 3px solid #0e0e0e;
		position: fixed;
		top: 0px;
		height: 100%;
		width: 100%;
		left: 100%;
		z-index: 100;
		transition: left 0.3s ease-in-out;
	}

	header nav ul li {
		padding: 2rem;
	}

	header nav ul li a {

		font-size: 1.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		background-size: 10vh;
		background-position: bottom 0 right 10px;
	}

	section h2 {

		margin-top: 0px;
	}

	main {
		height: 50%;
		display: flex;
		flex-direction: column;
	}

	main div h2 {

		margin-top: 0px;
	}

	footer {

		display: flex;
		flex-direction: column;										
	}

	#image {

		height: 150px;
		width: auto;
	}

	section > h2 {

		font-size: 2vh;
	}

	label[for="toggle-menu"] {

		display: block;
		font-size: 2rem;
		position: fixed;
		top: 20px;
		z-index: 200;
	}

	#hamburger {

		font-weight: bold;
		text-shadow: 2px 2px #f8f8f8;
	}

	#close {

		font-weight: bold;
		display: none;
	}

	#toggle-menu:checked ~ ul {

		left: 15%;
	}

	#toggle-menu:checked + label #close {

		display: block;
	}

	#toggle-menu:checked + label #hamburger {

		display: none;
	}
}

@media only screen and (max-width:600px) and (orientation: landscape) {

	body {
		width: 80%;
		display: flex;

	}

	header, section, main, footer {

		display: flex;
	}

	#image {

		height: 20%;
		width: auto;
	}

	section > h2 {

		font-size: 2vh;
	}
}