html {

	background-image: url("../imgs/backgroundImg.jpg");
	background-attachment: fixed;
	background-size: cover;
}

body {

	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
		"header header header"
		"section main main"
		"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

h1 ,h2, h3, h4, h5, h6 {
	
	font-family: "Bungee", sans-serif;
}

p, li, a, td, figcaption, blockquote {

	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-decoration: none;
}
header {

	grid-area: header;
	display: grid;
	grid-template-columns: 60% 40%;
	height: 125px;
	align-items: center;
	background-color: #696969;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

header > div > a > h1 {
	color: black;
}

header > nav > menu {

	display: grid;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

header > nav > menu > li > a {

	color: #0e0e0e;
}


section {

	grid-area: section;
	background-color: #151B54;
	border-radius: 3px;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;

}

section h2, section p {

	color: #f8f8f8;
}

main {

	grid-area: main;
	align-items: center;
	text-align: center;
	height: 80vh;
	background-color: #f8f8f8;
}

#image {

    border: 10px solid black;
	border-radius: 5px;
}

footer {

	grid-area: footer;
	background-color: #696969;
	height: 15vh;
	width: auto;
	border-bottom: 5px solid #d3d3d3;
	border-left: 5px solid #d3d3d3;
	border-top: 5px solid #0e0e0e;
	border-right: 5px solid #0e0e0e;
}

footer > div {

	padding-top: 10px;
}

header, section, main, footer {

	padding: 2rem;
}

@media only screen and (max-width:600px) and (orientation: landscape) {

	body {
		display: flex;
		flex-direction: column;
		width: 80%;
	}
	header {

		display: flex;
		justify-content: space-between;
	}

	section {
		display: flex;
		flex-direction: column;
	}
	main {
		height: 50%;
		display: flex;
		flex-direction: column;
	}
	footer {

		display: flex;
		flex-direction: column;
	}

	#image {

		height: 150px;
		width: auto;
	}

	section > h2 {

		font-size: 2vh;
	}
}