h1 {
	border-width: thin;
	padding: 5;
	
}

.div1 {
	background-color: orange;
	columns: 25px 4;
	height: 500px;
	border: solid 3px black;
	border-radius: 5px;
	float: left;
	
}

table {
	border: solid black 2px;
	border-radius: 5px;
}

.table1 {
	display:inline-block;
}

.table2 {
	display:inline-block;
}

img {
	width: 170px;
	height: 170px;
	border: solid black 4px;
	border-radius: 5px;
}

hr {
	border: solid;
	border-width: 3px;
	border-radius: 5px;
}

.box {
	height: 40px;
	width: 16em;
	margin: auto;
	background-color: white;
	border-radius: 5px;
}

.box2 {
	width: 12em;
	background-color: white;
	border-radius: 5px;
}

.box3 {
	width: 9em;
	background-color: white;
	border-radius: 5px;
}

.box4 {
	width: 7em;
	background-color: white;
	border-radius: 5px;
}

.box5 {
	height: 40px;
	width: 11em;
	background-color: white;
	border-radius: 5px;
	margin: auto;
}

.box6 {
	height: 40px;
	width: 7em;
	background-color: white;
	border-radius: 5px;
	margin: auto;
}